.select2-container {
  z-index: 1055 !important;
  /* Higher than Bootstrap's modal z-index */
  width: 100%;
}

/* JSONForm array buttons styling */
.jsonform-array-buttons {
  color: #000000 !important; /* Black text color */
  background-color: #ffffff; /* White background */
  border: 1px solid #000000; /* Black border */
  padding: 10px 15px; /* Smaller padding for compact size */
  font-size: 14px; /* Decrease font size */
  font-weight: bold; /* Keep text bold */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove any underline */
  display: inline-block;
  margin-top: 5px; /* Decrease top margin */
  border-radius: 3px; /* Smaller rounded corners */
  cursor: pointer; /* Add pointer cursor */
}
/* Override outdated Bootstrap classes */
.btn-default {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  border: 1px solid #000000; /* Black border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Increased padding */
  display: inline-block; /* Ensure buttons are inline */
  cursor: pointer; /* Add pointer cursor */
  text-align: center;
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
}

/* Hover effect for JSONForm and btn-default buttons */
.btn-default:hover,
.jsonform-array-buttons:hover {
  background-color: #000000; /* Black background on hover */
  color: #ffffff; /* White text on hover */
  border-color: #000000; /* Ensure border remains black */
}

/* Align and style icons inside buttons */
.jsonform-array-buttons i,
.btn-default i {
  margin-right: 5px; /* Add space between icon and text */
  font-size: 18px; /* Ensure icons are visible */
  vertical-align: middle; /* Align icons with text */
}
.glyphicon-plus-sign::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067"; /* Font Awesome plus icon */
  font-weight: 900;
}

.glyphicon-minus-sign::before {
  font-family: "Font Awesome 5 Free";
  content: "\f068"; /* Font Awesome minus icon */
  font-weight: 900;
}
.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}
#image-upload-section {
  display: block !important;
}
